/*v 1.1 1-9-2007*/

/*this is to keep right col. float from dropping in IE*/

#rightColumn {
width:726px;
margin-left:-12px;
padding-right: 12px;
padding-left:12px;
overflow: hidden;
 
 
}

 
#pageNumberHolder {
right:22px;
top:2px;
}

#printIcon {
right:106px; 
top:6px;
}
#subTitleBar {
    position:relative;
    width:auto;
    padding:0px 0px 6px 0px;
    left:0px;
    top:0px;
	margin:0px 0px 12px 0px;
	background-color:none;
	}
 


/*content area styles*/
#content, #content p, #content td {
  padding-left:0px;
  font: normal 13px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
  line-height:120%;
  letter-spacing:.01em;
  text-align:left;
 
   }
   
  #headerImage {
   margin-left:24px;
   }
   
 #contenTable {
  margin-left:12px; 
   
 
   } 