/*v 1.0 5-10-2006*/

body {
	padding: 6px 0px 0px 6px;
}

#whiteArea {
 width:508px;  
   background:url(../images/whiteArea2shadows508px.jpg) repeat-y -10px;
   font: normal 10px verdana, "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
 
}



#headerImage {
width:337px;
height:70px;
 
}
#ImageOrMediaHere {
width:100px;
height:60px;
}

#header, #footer {
   width:510px;
   margin:auto;
   height:48px;
 
}


#headerLeftSide, #footerLeftSide {
width:19px;
height:48px;

}

#footerLeftSide { 
height:50px;


}

#headerLogo img{
width:113px;
height:27px;

}
#headerLogo {
width:120px;
height:48px;

}


#headerMiddle, #footerMiddle {
width:252px;
height:48px;
/*background-image:url(../images/header/Hdr_middle.jpg);*/
background-repeat:repeat-x;

}

#footerMiddle {
height:60px;
width:372px;

} 

#prev {
height:48px;
width:48px;

}

#next {
height:48px;
width:50px;
}

#headerPrev, #footerPrev {
height:48px;
width:46px;
 
}

#headerNext, #footerNext{
height:48px;
width:60px;
 

}

#footerPrev, #footerNext {
 border:1px solid red;
}

#title{  
    width:240px; /*this must have a pixel or percent width for the MS shadow filter to display*/
    font: bold 13px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	line-height:100%;
	left:6px;
	margin-top:10px;
}


#targetaudience {font-size:10px;
font-style:normal;}

/*this column holds the navbar*/
#leftColumn {
 width:130px;
min-height:0px;
}

/*this column holds the title bar and all content*/
#rightColumn, #content {
   width:337px;
   /*background-color:#FFF;*/
   padding:6px 12px 6px 6px;
      z-index:10;
	   background:none;
}
/*content area styles*/
#content {
   margin-top:-10px;
 

}
 

#content, #content p, #content td,{
  padding-left:6px;
  font: normal 10px Verdana, Helvetica, Arial, sans-serif;
  line-height:120%;
  letter-spacing:.01em;
}

#content li {
   padding-left:-3px;
}


h1 {
	font: bold 14px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	border-top: 1px solid #CCCCCC;
	padding-top:3px;
}

h2 {
   font: bold 13px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

h3 {
   font: bold 12px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
   line-height:120%;
}

p {font: normal 10px "Lucida Grande", LucidaGrande, Lucida, Arial, Helvetica, sans-serif;}

#subTitleBar {
    padding:0 0 6px 0;
    left:12px;
    top:0px;
    border-bottom:3px solid #CCCCCC;
	margin-bottom:6px;
}

#chapterTitle {
   margin-bottom:6px;
   padding-left:6px;
   font: bold 10px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;

}

#pageTitle {
	font: normal 18px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	padding:12px 6px 6px 6px;
}

#pageNumberHolder {
   font: bold 8px Verdana, Arial, Helvetica, sans-serif;
   padding-left:6px;
   padding-right:12px;
   padding-top:-2px;
   height:10px;
}


/*************************************/
/*the base navigation styles. Modified for Mac and small screens in styles800x600 and stylesMac.css*/
#NavBar { 
  width:138px;
  top:-4px;
  background:url(../images/header/navBar_top.jpg) repeat-x bottom;
}

#NavBar a, #Navbar a:link, #Navbar a:visited, #NavBar a:hover, #NavBar a.current {
  width:134px;
    /* padding:3px 3px 3px 7px;*/
	   padding:2px 2px 2px 3px;
	 
}
 

#NavBar a.navlevel1, #NavBar a.navlevel2, #NavBar a.navlevel3, #NavBar a.navlevel4 {
width:134px;
    font: normal 9px verdana, Helvetica, Arial, sans-serif; 
	list-style-type: none;
	 
    padding-left:3px;
 
}

#NavBar a:hover.navlevel1, #NavBar a:hover.navlevel2, #NavBar a:hover.navlevel3, #NavBar a:hover.navlevel4, #otherLinks a:hover, #contentExpert a:hover {
  
}

 

#otherLinks {
 
 
}

#otherLinks a, #otherLinks a:hover {
  width: 130px; 
   padding:0px 0px 0px 3px;
   margin:0px 0px 2px 0px;

}

#otherLinks a:hover { 
background-color:#0066FF;
 
}
#navbarBottom {
	background:url(../images/header/navBar_bottomBG.jpg) repeat-x top;
     
	width:138px;
	display:block;
    height:130px;
	 padding-right:0px;
	 
}

 
#navbarBottom a.contentExpert {
    font: bold 10px "Lucida Grande", LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	    padding:0px 0px 0px 3px;
	  width: 138px; 
    	
}
#contentExpert, #contentExpert a {
	 
	 
}
#contentExpert {
    font: bold 10px Verdana, Arial, Helvetica, sans-serif;
    padding:6px;
	border:1 solid #FFFFFF;
}

 