/*v 1.0 5-10-2006*/


/*#headerMiddle{width:590px;}

#headerLogo {width:220px;}*/

/*#NavBar a {
	-moz-opacity:0.80; /* Mozilla 1.6 and below  
    opacity: 0.80;  
} 

#NavBar a.navlevel1, #NavBar a.navlevel2, #NavBar a.navlevel3, #NavBar a.navlevel4 {
	margin-bottom:2px;
}

#otherLinks a {*/
  /*  -moz-opacity:0.85;  /* Mozilla 1.6 and below  
   opacity: 0.85;  
} */
