 body
 {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 11px;
 }
.ab {
	/*background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #FFFFFF;
    color: #333;
   width:250px;
   padding:6px 12px 6px 12px;*/
   }
   
   td{ padding:6px 12px 6px 12px;}
 
fieldset {
  padding: 1em;
  font-size:12px;
   font-family: Verdana, Arial Narrow, sans-serif;
  }
  p{
  overflow: auto;
  margin-top:6px;
  }
  
  input[type=text] {
  font-size:12px;
  }
label {
  float:left;
  width:35%;
  margin-right:0.5em;

  padding-top:0.2em;
  text-align:right;
  font-weight:normal;
 
  }
 /*http://www.pixy.cz/blogg/clanky/css-fieldsetandlabels.html*/
 #arr {
 	font-family: "Courier New", Courier, monospace;
 }
 
 #container {
  width:60%;
 }