 body
 {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 11px;
 	padding:24px;
 }
 
  h2 {
 font-size:18px;
 font-family:  'Open Sans', sans-serif;
  text-shadow: 2px 2px #eee; 

 }
  .box-header {
 	padding:14px 10px 10px 10px;
 	line-height: 18px;
 	height:auto;
 	
    
 }
 
 .box-header h2 {
   	font-weight:700;
 }
 
.ab {
	background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #FFFFFF;
    color: #333;
   width:250px;
   padding:6px 12px 6px 12px;
   }
   
   td{ padding:6px 12px 6px 12px;}
 
fieldset {
  padding: 1em;
  font-size:12px;
   font-family: Verdana, Arial Narrow, sans-serif;
  }
  
  p{
  overflow: auto;
  margin-top:6px;
  }
  
  input[type=text] {
  font-size:12px;
  }
label {
  float:left;
  width:35%;
  margin-right:0.5em;

  padding-top:0.2em;
  text-align:right;
  font-weight:normal;
 
  }
 /*http://www.pixy.cz/blogg/clanky/css-fieldsetandlabels.html*/
 #arr {
 	font-family: "Courier New", Courier, monospace;
 }
 
/* #container {
  width:60%;
 }*/
 
 #otherlmsinstructions {
 display:block;
 border: 1px solid #b39c3f;
 background-color:#f6e8ac;
 }